.toplevel {
    background: #A9BCF5;
}
.h1row {
    background: #FA8258;
}
.h2col1 {
    background: #F2F5A9;
}
.h2col2 {
    background: #D8F6CE;
}
.h3row {
    background: #04B404;
}
.firstcol {
    background: #1C1C1C;
    color: #E6E6E6;
}
.secondcol {
    background: #F781F3;
}
.thirdcol {
    background: #FE2EF7;
}
.footer {
    background: #A4A4A4;
}
 .glyphicon {
    font-size: 32px;
}
