<!DOCTYPE html>
<html np-app="firstApp">
<head>
    <title>My Bootstrap Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class='container' ng-controller="FirstController">

        <div class='row h1row'>
            <i class='glyphicon glyphicon-fire'></i>
            <h1 class='myh1'>H1 Header</h1>
        </div>
        <div class='row h2row text-center well well-lg'>
            <h2 class='myh2'>H2 Header</h2>
            <p>Click a button to determine your fate!</p>
            <button type="button" class='btn btn-lg btn-default'>First Button</button>
            <button type="button" class='btn btn-primary'>Second Button</button>
        </div>

        <div class='row h3row'>
            <div class='col-md-4 firstcol'>
                <i class='glyphicon glyphicon-leaf'></i>
                <h3>One</h3>
                <p class='lead'>Paragraph under first column.</p>
                <p>Another Paragraph under first column.</p>
            </div>
            <div class='col-md-4 secondcol'>
                <i class='glyphicon glyphicon-tint'></i>
                <span>Name:</span>
                <input type="text" ng-model="first">
                <input type="text" ng-model="last">
                <button ng-click='updateMessage() '>Message</button>
                <hr>
                {{heading + message}}
                <h3>Two</h3>
                <p>Paragraph under second column.</p>
            </div>
            <div class='col-md-4 thirdcol'>
                <i class='glyphicon glyphicon-flash'></i>
                <h3>Three</h3>
            </div>
        </div>

    </div>
    <div class='footer'>
        <div class='container'>
            <div class='row'>
                <p> This is the footer </p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="js/first.js"></script>
</body>
</html>
