<!DOCTYPE html>
<html ng-app="firstApp">
<head>
	<title>First AngularJS App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class='container'>

		<div class='row row-one well-lg' ng-controller="FirstController">
			<div class='col-md-7 col-md-offset-2 well well-lg'>
				<h1 class='well well-sm'>Sandbox </h1>
				<span>Name:</span>
				<input type="text" ng-model="first">
				<input type="text" ng-model="last">
				<button ng-click='updateMessage()' class='btn btn-info'>Say Hello</button>
				<hr>
				{{heading + message}}
			</div>
		</div>

		<div class='row row-two' ng-controller="SimpleTemplate">
			<div class='col-md-6 r2col1 well'>
				<i class='glyphicon glyphicon-fire'></i>
				<h1 class='myh1'>Data Binding</h1>
				<p>Value A: <input type="number" ng-model="valueA"</p>
				<p>Value B: <input type="number" ng-model="valueB"</p>
				<p>Expression: {{valueA}} + {{valueB}}</p>
				<p>Live Expression Value: {{valueA + valueB}}</p> 
				<input type="button" class='btn btn-default'ng-click="addValues(valueA, valueB)" value="Click to Add Values {{valueA}} & {{valueB}}"/>
				<p>Clicked Expression Value: {{valueC}}</p>
			</div>
			<div class='col-md-6 r2col2'>
				<h2 class='myh2'>Scope Hierarchy <i class='glyphicon glyphicon-plane'></i></h2>
				<p>Click a button to determine your fate!</p>
				<button type="button" class='btn btn-lg btn-default'>Does Nothing</button>
				<button type="button" class='btn btn-primary'>Dud</button>
				<div ng-controller='LevelA'>
					<h3>{{title}}</h3>
					<p>ValueA = {{valueA}} <input type="button" ng-click="inc()" value="+"/></p>
					<div ng-controller='LevelB'>
						<h3>{{title}}</h3>
						<p>ValueA = {{valueA}}</p>
						<p>ValueB = {{valueB}} <button class='btn btn-danger'type="button" ng-click="inc()"><i class='glyphicon glyphicon-plus-sign'></i></button></p>
						<div ng-controller='LevelC'>
							<h3>{{title}}</h3>
							<p>ValueA = {{valueA}}</p>
							<p>ValueB = {{valueB}}</p>
							<p>ValueC = {{valueC}} <input type="button" ng-click="inc()" value="+"/></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='row row-three'>
			<div class='col-md-4 r3col1 well' ng-controller="ArrayManipulate">
				<i class='glyphicon glyphicon-leaf'></i>
				<h3>Array Manipulation</h3>
				<p class='lead'>Paragraph under first column.</p>
				<p>Another Paragraph under first column.</p>
				<p>Array: {{myArr}}</p>
				<p>Elements removed from array: {{removedArr}}</p>
				<a ng-click="myArr.push(Math.floor(Math.random()*100 + 1))"> Click to append a vlue to the array</a>
				<br />
				<a ng-click="removedArr.push(myArr.shift())">Click to remove the first value from the array</a>
				<br />
				<p>Size of Array: {{myArr.length}}</p>
				<p>Max number removed from the array: {{Math.max.apply(Math, removedArr)}}</p>
			</div>
			<div class='col-md-4 r3col2'>
				<i class='glyphicon glyphicon-tint'></i>
				<h3>Two</h3>
				<p>Paragraph under second column.</p>
				<p>Filters:</p>
				<p>json {{ {name:'bob'} | json}}</p>
				<p>currency {{123 | currency:"$"}}</p>
				<p>limitTo:2 {{ ['a','b','c'] | limitTo:2 }}</p>
				<p>lowercase {{ 'UPPERCASE'|lowercase }}</p>
				<p>date {{ 1389323623006|date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
			</div>
			<div class='col-md-4 r3col3 well'>
				<i class='glyphicon glyphicon-flash'></i>
				<h3>Three</h3>
			</div>
		</div>

		<div class='row row-four well-lg'>
			<div class='col-md-4' ng-controller="Filtering">
				<div class='col-md-12 well'>
					<h1>Filtering</h1>
					<input type="text" ng-model="filterString">
					<input type="button" ng-click="setFilter()" value="Filter">
					<table class='filter'>
						<tr>
							<th ng-click="setSort('make')">Make</th>
							<th ng-click="setSort('model')">model</th>
							<th ng-click="setSort('capacity')">capacity</th>
						</tr>
						<tr ng-repeat="plane in filteredPlanes | orderBy:column:reverse">
							<td>{{plane.make}}</td>
							<td>{{plane.model}}</td>
							<td>{{plane.capacity}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class='col-md-4' ng-controller="customFilter">
				<h2>Custom Filter</h2>
				<p>{{phrase|censor:censorText}}</p>
				<p>{{"This is some bad, dark, evil text." | censor:"happy"}}</p>
				<p ng-click="filterText()">{{txt}}</p>
			</div>
		</div>
	</div> <!-- End Container-->

	<!-- Javascript References -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
	<script src="js/first.js"></script>
</body>
</html>
